{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <table class="table">
      <tr>
        <th>ID</th>
        <td>{{ object.id }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ obj.name }}</td>
      </tr>
      <tr>
        <th>mail</th>
        <td>{{ object.mail }}</td>
      </tr>
      <tr>
        <th>gender</th>
        <td>{{ obj.gender }}</td>
      </tr>
      <tr>
        <th>age</th>
        <td>{{ obj.age }}</td>
      </tr>
    </table>
  </body>
</html>
